.heroImage {
  width: 100vw;
  height: 70vh;
  object-fit: cover;
  filter: grayscale(100%);
}

.heroSection {
  position: relative;
}

.heroText1,
.heroText2,
.heroText3 {
  position: absolute;
  left: 75rem;
  font-size: 4rem;
  color: white;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.3rem;
}

.heroText1 {
  top: 14rem;
}

.heroText2 {
  top: 20rem;
}

.heroText3 {
  top: 26rem;
}
